<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770917809768-jkdab3k3638aq4uehajs68kf4v5mmtr0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770917809768-jkdab3k3638aq4uehajs68kf4v5mmtr0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>770917809768-8bfgqd8rp3a5meou524047g7vn5tcfc8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-XXFVKvmeEesO-iFSbdzrRjwKechPGVE</string>
	<key>GCM_SENDER_ID</key>
	<string>770917809768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.solve.solve_tutor</string>
	<key>PROJECT_ID</key>
	<string>solve-f1778</string>
	<key>STORAGE_BUCKET</key>
	<string>solve-f1778.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770917809768:ios:ae72beae5525ab4f57c5dd</string>
</dict>
</plist>